// Color system

$primary:       #ed1c24 !default;
$secondary:     #a0a0a0 !default;
$success:       #06b6e9 !default;
$info:          #0670e9 !default;
$warning:       #ffde03 !default;
$danger:        #cf0a2c !default;
$light:         #f2edf3 !default;
$dark:          #343a40 !default;
$white:         #ffffff !default;
$black:         #000000 !default;
$grey:          #ebebeb !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "grey":       $grey
), $theme-colors);

$theme-color-interval:      8% !default;

$yiq-contrasted-threshold:  150 !default;
$yiq-text-dark:             #212529  !default;
$yiq-text-light:            #fff !default;


// Options

$enable-caret:                                true !default;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-grid-classes:                         true !default;
$enable-print-styles:                         true !default;
$enable-validation-icons:                     true !default;


// Spacing

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Body

$body-bg:                   #ffffff !default;
$body-color:                #212529 !default;


// Links

$link-color:                              $info !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

$emphasized-link-hover-darken-percentage: 15% !default;


// Paragraphs

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    xs: 0,
    lg: 1340px,
    xl: 1720px
  ),
  $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    lg: 1280px,
    xl: 1680px
  ),
  $container-max-widths
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;


// Components

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;
$line-height-md:              1.7 !default;

$border-width:                1px !default;
$border-color:                #dee2e6 !default;   
$border-color-md:             #ccc;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;
//$border-radius-md:            1rem !default;

$rounded-pill:                50rem !default;

$box-shadow:                  0 .5rem 1rem rgba(0,0,0, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba(0,0,0, .175) !default;
$box-shadow-sm:               0 .125rem .25rem rgba(0,0,0, .075) !default;

$component-active-color:      #ffffff !default;
$component-active-bg:         $info !default;

$caret-width:                 .3em !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (3 4),
    (1 1),
  ),
  $embed-responsive-aspect-ratios
);


$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;


// Fonts

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              .875rem !default;
$font-size-lg:                ($font-size-base * 1.285) !default;
$font-size-sm:                ($font-size-base * .857) !default;
$font-size-md:                ($font-size-base * .840) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 1.29 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.6 !default;
$h4-font-size:                $font-size-base * 1.4 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$dt-font-weight:              $font-weight-bold !default;


// Tables

$table-cell-padding-x:          1.25rem !default;
$table-cell-padding-y:          .75rem !default;
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             rgba(0,0,0, .05) !default;
$table-hover-bg:              rgba(0,0,0, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-accent-border: #000 !default;

$table-border-width:          1px !default;
$table-border-color:          #dbdbdb !default;

$table-head-bg:               #f4f4f4 !default;
$table-head-color:            #495057 !default;

$table-dark-bg:               #212529 !default;
$table-dark-accent-bg:        rgba(255,255,255, .05) !default;
$table-dark-hover-bg:         rgba(255,255,255, .075) !default;
$table-dark-border-color:     lighten(#212529, 7.5%) !default;
$table-dark-color:            #ffffff !default;

$table-striped-order:         odd !default;

$table-caption-color:         #6c757d !default;

$table-bg-level:              -9 !default;
$table-border-level:          -6 !default;
$table-text-align-center:     center;
$table-text-align-right:      right;


// Buttons + Forms

$input-btn-padding-y:         .4rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       0 !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1.5rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-md:      .4rem !default;
$input-btn-padding-x-md:      .64rem !default;
$input-btn-font-size-md:      $font-size-md !default;
$input-btn-line-height-md:    $line-height-md !default;

$input-btn-border-width:      $border-width !default;


// Buttons

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               1.25rem !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-md:           $input-btn-padding-y-md !default;
$btn-padding-x-md:           $input-btn-padding-x-md !default;
$btn-font-size-md:           $input-btn-font-size-md !default;
$btn-line-height-md:         $input-btn-line-height-md !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba(255,255,255, .15), 0 1px 1px rgba(0,0,0, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba(0,0,0, .125) !default;

$btn-link-disabled-color:     #6c757d !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-md:       $border-radius-md !default;

$btn-border-color-md:        $border-color-md !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;





// Forms

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-size:                       $input-btn-font-size !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                              #fff !default;
$input-disabled-bg:                     #e9ecef !default;

$input-color:                           #495057 !default;
$input-border-color:                    #c0c0c0 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba(0,0,0, .075) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-md:               $border-radius-md !default;

$input-border-color-md:                $border-color-md !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               #6c757d !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    ($input-btn-font-size * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:                 ($input-btn-font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:                 ($input-btn-font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top:                  .25rem !default;

$form-check-input-gutter:               1.25rem !default;
$form-check-input-margin-y:             .3rem !default;
$form-check-input-margin-x:             .25rem !default;

$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem !default;

$form-grid-gutter-width:                10px !default;
$form-group-margin-bottom:              1rem !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  #e9ecef !default;
$input-group-addon-border-color:        $input-border-color !default;

$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $font-size-sm !default;
$form-feedback-valid-color:         $input-border-color !default;
$form-feedback-invalid-color:       theme-color("danger") !default;

$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-valid:          str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"), "#", "%23") !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-feedback-icon-invalid:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-feedback-icon-invalid-color}' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"), "#", "%23") !default;



// Badges

$badge-font-size:                   85% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   .4em !default;
$badge-padding-x:                   .5em !default;
$badge-border-radius:               $border-radius !default;

$badge-pill-padding-x:              .7em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          11rem !default;


// Modals

$modal-inner-padding:               1rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  #fff !default;
$modal-content-border-color:        rgba(0,0,0, .5) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba(0,0,0, .2) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba(0,0,0, .5) !default;

$modal-backdrop-bg:                 #000 !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         #000 !default;
$modal-footer-border-color:         #e5e5e5 !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            .7rem !default;
$modal-header-padding-x:            1rem !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;


// Alerts

$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               $border-radius !default;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $border-width !default;

$alert-bg-level:                    -10 !default;
$alert-border-level:                -9 !default;
$alert-color-level:                 6 !default;


// Breadcrumbs

$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          #ccc !default;
$breadcrumb-parent-color:           #888 !default;
$breadcrumb-active-color:           #000 !default;
$breadcrumb-divider:                quote(">") !default;
$breadcrumb-border-radius:          $border-radius !default;
$breadcrumb-font-size: $font-size-sm !default;


// Pagination

$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color:                  #000 !default;
$pagination-bg:                     transparent !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           transparent !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               #eee !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $primary !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         #a0a0a0 !default;
$pagination-disabled-bg:            transparent !default;
$pagination-disabled-border-color:  transparent !default;


// Tabs

$tabs-margin-bottom: 1rem !default;
$tabs-border-color: $primary !default;
$tabs-border-width: 1px !default;
$tabs-font-size: ($font-size-base * 1.143) !default;
$tabs-link-disabled-color: #999 !default;
$tabs-link-padding-x: 1.25rem !default;
$tabs-link-padding-y: 0.7rem !default;
$tabs-link-padding-x-sm: 1.25rem !default;
$tabs-link-padding-y-sm: 0.5rem !default;
$tabs-link-color: #666 !default;
$tabs-link-bg: #f6f6f6 !default;
$tabs-link-active-color: $primary !default;
$tabs-link-active-bg: $body-bg !default;
$tabs-link-active-border-color: $primary $primary $tabs-link-active-bg !default;

$tabs-ink-bar-link-padding-x: 1.25rem !default;
$tabs-ink-bar-link-padding-y: 1rem !default;
$tabs-ink-bar-border-color: #dbdbdb !default;
$tabs-ink-bar-link-active-color: #000 !default;


// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$pos-rela: relative;
$pos-abs: absolute;
